html {
  scroll-behavior: smooth;
}

#root {
  background-image: url(./assets/memphis-mini.png);
}

#title {
  text-align: center;
}

#map {
  height: 600px;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid black;
  border-radius: 5px;
  }

.marker {
  background-image: url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.Rs707H6LudMgQmdvecfyrAHaHa%26pid%3DApi&f=1&ipt=174e1d65a41dfccf5aa8eecdd716700365c1c6d2540dbcbeadb7340b5dd078d4&ipo=images');
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.user-location {
  width: 40px;
  height: 40px;
}

#users-show {
  width: 200px;
  height: 40px;
  position: absolute;
  left: 50px;
}

.logo {
  background-image: url(./assets/bagel.png);
  position: absolute;
  right: 20px;
  width: 100px;
  height: 100px;
}

.restaurant-border {
  border: 2px solid grey;
  border-radius: 5px;
  padding: 10px;
}